<a href="https://colab.research.google.com/github/Russy-Veemon/Demographic-Data-Analyzer/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
ad = 'adult.data.csv'

pd.read_csv(ad)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
file_obj = open('adult.data.csv', 'r')
data = file_obj.read()
ad = pd.read_csv('adult.data.csv')

#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [4]:
Asian_Pac_Islander = 'Asian-Pac-Islander'
Asian_Pac_Islander_Count = 0
Amer_Indian_Eskimo = 'Amer-Indian-Eskimo'
Amer_Indian_Eskimo_Count = 0
White = 'White'
White_Count = 0
Black = 'Black'
Black_Count = 0
Other = 'Other'
Other_Count = 0
count = 0

with open('adult.data.csv', 'r') as ad:
  for line in ad:
    count += 1
    if Asian_Pac_Islander in line:
      Asian_Pac_Islander_Count += 1
    if Amer_Indian_Eskimo in line:
      Amer_Indian_Eskimo_Count += 1
    if White in line:
      White_Count += 1
    if Black in line:
      Black_Count += 1
    if Other in line:
      Other_Count += 1
  print(f'There are {count} people who are in this dataset.')
  print(f'Of those {count}, there are {Asian_Pac_Islander_Count} people who identify as Asian-Pac-Islander in this dataset.')
  print(f'There are {Amer_Indian_Eskimo_Count} people who identify as Amer-Indian-Eskimo in this dataset.')
  print(f'There are {White_Count} people who identify as White in this dataset.')
  print(f'There are {Black_Count} people who identify as Black in this dataset.')
  print(f'There are {Other_Count} people who identify as Other in this dataset.')

There are 32563 people who are in this dataset.
Of those 32563, there are 1039 people who identify as Asian-Pac-Islander in this dataset.
There are 311 people who identify as Amer-Indian-Eskimo in this dataset.
There are 27816 people who identify as White in this dataset.
There are 3124 people who identify as Black in this dataset.
There are 4294 people who identify as Other in this dataset.

#What is the average age of men?

In [8]:
# omit rows with Gender equal to 'Male'
ad = pd.read_csv('adult.data.csv')
ad = ad.loc[(ad['sex'] == 'Male')]
avg_age = ad['age'].mean()

print(f'The average age of men in this dataset is {avg_age}')

The average age of men in this dataset is 39.43354749885268

#What is the percentage of people who have a Bachelor's degree?

In [51]:
ad = 'adult.data.csv'
num_Bach = 0 
Bachelor = 'Bachelors'
with open('adult.data.csv', 'r') as ad:
  for line in ad:
    if Bachelor in line:
      num_Bach += 1 
  print(f'There a total of {num_Bach} with Bachelors degrees.')
percent_bach = (num_Bach / 32560)*100
print(f'The percent of people with a Bachelors degree is {percent_bach}%')

There a total of 5355 with Bachelors degrees.
The percent of people with a Bachelors degree is 16.4465601965602%

#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [50]:
degree = ['Bachelors', 'Masters', 'Doctorate']
num_grads = 0
salary = '>50K'

with open('adult.data.csv', 'r') as ad:
  for line in ad:
    if salary in line:
      if degree[0] in line:
        num_grads += 1
      if degree[1] in line:
        num_grads += 1
      if degree[2] in line:
        num_grads += 1
percent_grads_over_50K = (num_grads / 32560)*100
print(f'The percentage of people with advanced education and making >50K is {percent_grads_over_50K}%')

The percentage of people with advanced education and making >50K is 10.706388206388207%

#What percentage of people without advanced education make more than 50K?

In [48]:
no_degree = 0
with open('adult.data.csv', 'r') as ad:
  for line in ad:
    if salary in line:
      if degree[0] not in line:
        no_degree += 1
      if degree[1] not in line:
        no_degree += 1
      if degree[2] not in line:
        no_degree += 1
percent_no_degree_over_50K = (no_degree / 32560)*100
print(f'The percentage of people with NO advanced education and making >50K is {percent_no_degree_over_50K}%')

The percentage of people with NO advanced education and making >50K is 61.538697788697796%

#What is the minimum number of hours a person works per week?

In [12]:
ad = pd.read_csv('adult.data.csv')
hoursperweek = ad['hours-per-week']

min_hours = hoursperweek.min()
print(f'The minimum amount of hours a person works per week in this dataset is {min_hours}.')

The minimum amount of hours a person works per week in this dataset is 1.

#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [47]:
ad = pd.read_csv('adult.data.csv')
ad = ad.loc[:,['hours-per-week', 'salary']]
# print(ad)
hourscolumn = ad.loc[(ad['hours-per-week'] == 1)]
minworkers_less50 = ad.loc[(ad['salary'] == '>50K')]
# print(minworkers_less50)
lowhours_highpay = (7841/32560)*100
print(f'{lowhours_highpay}% of people work minimum hours per week and make more than 50K.')

24.081695331695332% of people work minimum hours per week and make more than 50K.

#What country has the highest percentage of people that earn >50K and what is that percentage?

In [14]:
#create a for loop to find out what countries are in this dataset

import csv

# Define the path to your CSV file
csv_file_path = "adult.data.csv"

# Define the column you want to find unique strings in
column_name = "native-country"

# Define an empty set to store unique strings
unique_strings = set()

# Open the CSV file and read its contents
with open(csv_file_path, newline="") as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        # Add the string in the specified column to the set of unique strings
        unique_strings.add(row[column_name])

# Print out the set of unique strings
print(unique_strings)

#create a dictionary with all countries then parse through a dataframe with countries and salaries as the only two columns
#return the amount of people in each country that meet the requirment
#create a variable to represent the percentage and do the math.
#select the highest and higlight it
{'Laos', 'England', 'Cambodia', 'South', 'Canada', 'France', 
 'Mexico', 'Jamaica', 'Ecuador', 'Nicaragua', 'Puerto-Rico', 'Ireland', '?', 
 'China', 'Poland', 'Thailand', 'Outlying-US(Guam-USVI-etc)', 'Vietnam', 
 'Dominican-Republic', 'Cuba', 'Japan', 'Portugal', 'India', 'United-States', 
 'Holand-Netherlands', 'Guatemala', 'Haiti', 'Trinadad&Tobago', 'Honduras', 
 'Iran', 'Italy', 'Scotland', 'Columbia', 'Yugoslavia', 'Peru', 'Philippines', 
 'Hungary', 'Taiwan', 'Germany', 'El-Salvador', 'Greece', 'Hong'}

{'Laos', 'England', 'Cambodia', 'South', 'Canada', 'France', 'Mexico', 'Jamaica', 'Ecuador', 'Nicaragua', 'Puerto-Rico', 'Ireland', '?', 'China', 'Poland', 'Thailand', 'Outlying-US(Guam-USVI-etc)', 'Vietnam', 'Dominican-Republic', 'Cuba', 'Japan', 'Portugal', 'India', 'United-States', 'Holand-Netherlands', 'Guatemala', 'Haiti', 'Trinadad&Tobago', 'Honduras', 'Iran', 'Italy', 'Scotland', 'Columbia', 'Yugoslavia', 'Peru', 'Philippines', 'Hungary', 'Taiwan', 'Germany', 'El-Salvador', 'Greece', 'Hong'}

In [46]:
US_count = 0
US = 'United-States'
big_earner = 0

with open('adult.data.csv', 'r') as ad:
  for line in ad:
    if salary in line:
      big_earner += 1
      if US in line:
        US_count += 1
  print(f'There are {US_count} in the United States that make >50K annualy')

US_percent = (US_count/big_earner)*100
print(f'The United States thus accounts for {US_percent}% of the people that earn over 50K annually in this data set')

There are 7171 in the United States that make >50K annualy
The United States thus accounts for 91.45517153424308% of the people that earn over 50K annually in this data set

#Identify the most popular occupation for those who earn >50K in India.

In [45]:
ad = pd.read_csv('adult.data.csv')
india = 'India'
selected_columns = ["occupation", "native-country", "salary"]
india_ad = ad[ad['native-country'] == india]
india_only_ad = india_ad[selected_columns]
india_only_50k_ad = india_only_ad[india_only_ad['salary'] == '>50K']
#use .count() to get overall number of occupations
# print(india_only_ad)
# print(india_only_50k_ad)
india_only_50k_occupation_ad = india_only_50k_ad[india_only_50k_ad['occupation'] == 'Prof-specialty'].count()
# print(india_only_50k_occupation_ad)

#There are 24 Prof Sepcialty occupations in india who earn over 50K.
#There are 40 people with different occupations in inidia who earn over 50K.

percent_prof_specialty = (25/40)*100

print(f'Of the 40 occupations in India that make over 50K annually, Prof-Specialty is the most popular with 25 people having this occupation.')
print(f'That is {percent_prof_specialty}% of the occupations.')

Of the 40 occupations in India that make over 50K annually, Prof-Specialty is the most popular with 25 people having this occupation.
That is 62.5% of the occupations.